{% extends 'base.html.twig' %}

{% block title %}Liste des Jeux
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="fs-2 col-6 text-center m-3">
				Liste des Jeux à Echanger...
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="fs-4 col-12 text-center m-3">

				<table class="table fs-5">
					<thead>
						<tr class="text-center">
							<th scope="col" class="fdtitre"></th>
							<th scope="col" class="fdtitre">Marque</th>
							<th scope="col" class="fdtitre">Modèle</th>
							<th scope="col" class="fdtitre">Catégorie</th>
							<th scope="col" class="fdtitre text-center">Descriptif</th>
							<th scope="col" class="fdtitre">Etat</th>
							<th scope="col" class="fdtitre">Age</th>
							<th scope="col" class="fdtitre">Echange</th>
						</tr>
					</thead>
					<tbody>

						{% set  i = 0 %}

						{% for game in games%}


							<tr>
								<td>
									<a class="nav-link fs-6 text-black-50" title="Proposer le votre ?" href="{{ path('app_swap_new', {'id': game.id}) }}">
										{% if game.img is defined and game.img is not null %}

											<img src="{{ asset('images-test/' ~ game.img ) }}" alt="" style="width:100px">
										{% else %}
											<img src="{{ asset('images-test/defaultImg.jpg') }}" alt="" style="width:100px">
										{% endif %}
									</a>
								</td>

								<td>{{ game.mark }}</td>
								<td>{{ game.nom }}</td>
								<td>{{game.idcat.nom}}</td>

								<td>{{ game.txt|u.truncate(15) }}...</td>

								<td>Etat...</td>
								<td>{{ game.age }}</td>
								<td>

									{% if dispos[i]|length == 0  %}
										Non disponible
									{% else %}
										{% if dispos[i]|length == 1  %}
											<form action="{{ path('app_echange')}}" method="POST">
											    <input type="hidden" id="seller" name="seller"  value="{{dispos[i][0].id}}">
												<input type="submit" value="disponible" title="Proposer un échange ?" >
												{% set k = game.id %}
												{% if seller[k] is defined %}
													<div class="fs-6">
														{{user[seller[k][0]-1].cpost}}
														{{user[seller[k][0]-1].ville}}
													</div>
												{% endif %}
											</form>
<a href="{{ path('app_contact') }}">contact</a>

										{% else %}


											<form action="{{ path('app_echange')}}" method="POST">

												{% set k = game.id %}
												{% if seller[k] is defined %}
													<input type="submit" value="{{dispos[i]|length}} disponibles"  title="Proposer un échange ?">
													<select class="fs-6" name="seller" id="seller">
														{% for n in 0.. dispos[i]|length-1 %}


															{% if seller[k][n] is defined %}
																<div class="fs-6">
																	<option value="{{dispos[i][n].id}}">
																		{{user[seller[k][n]-1].cpost}}
																		{{user[seller[k][n]-1].ville}}
																	</option>
																</div>
															{% endif %}
														{% endfor %}

													</select>
												{% endif %}
											</form>
											<a href="{{ path('app_contact') }}">contact</a>
										{% endif %}
									{% endif %}
								</td>
							</tr>
						</td>
					</tbody>
				</tr>
			</a>
		</tbody>
	</td>
</tr>
{% set i = i+1 %}{% else %}
<tr>
	<td colspan="11">Aucun produit trouvé</td>
</tr>{% endfor %}</tbody></table><a href="{{ path('app_games_new') }}">Enregistrer un nouveau Jeu</a></div></div></div>{# Liste Statique des Jeux #}{# <div class="container">
																	<div class="row justify-content-center">
																		<div class="fs-2 col-5 m-4">
																			Liste des jeux à échanger...
																		</div>
															
																		<table class="table table-hover">
																			<thead>
																				<tr>
																					<th scope="col" class="fdtitre"></th>
																					<th scope="col" class="fdtitre">Marque</th>
																					<th scope="col" class="fdtitre">Modèle</th>
																					<th scope="col" class="fdtitre">Catégorie</th>
																					<th scope="col" class="fdtitre text-center">Descriptif</th>
																					<th scope="col" class="fdtitre">Etat</th>
																					<th scope="col" class="fdtitre">Age</th>
																					<th scope="col" class="fdtitre">Echange</th>
																				</tr>
																			</thead>
															
																			<tbody>
																				<tr>
																					<th scope="row">
																						<a class="nav-link fs-6 text-black-50" title="Proposer aussi le votre ?" href="{{ path('app_newgame', {'id': '1'}) }}"><img src="{{asset('images-test/kt-2.jpg') }}" alt=""></a>
																					</th>
																					<td>Falcon</td>
																					<td>Parisis</td>
																					<td>Jeu en bois</td>
																					<td><a class="nav-link fs-6 text-black-50" title="Voir le descriptif complet de ce jeu ?" href="detail">Obcaecati, quo neque nostrum quibusdam nam aspernatur...</a></td>
																					<td>Très bon</td>
																					<td>+ de 18 ans</td>
																					<td>
																						<a class="nav-link fs-6 text-black-50" title="Proposer un échange ?" href="echange">Disponible</a>
																						<a class="nav-link fs-6 text-black-50" title="des questions sur ce jeu ?" href="contact">Contact</a>
																					</td>
																				</tr>
																				<tr>
																					<th scope="row">
																						<a class="nav-link fs-6 text-black-50" title="Proposer aussi le votre ?" href="{{ path('app_newgame', {'id': '2'})}}"><img src="{{asset('images-test/kt-3.jpg') }}" alt=""></a>
																						 
																					</th>
																					<td>Torsen</td>
																					<td>Berlis</td>
																					<td>Jeu en plastique</td>
																					<td><a class="nav-link fs-6 text-black-50" title="Voir le descriptif complet de ce jeu ?" href="detail">Lorem ipsum dolor sit amet consectetur adipisicing elit...</a></td>
																					<td>Bon</td>
																					<td>+ de 8 ans</td>
															
																					<td>
																						<a class="nav-link fs-6 text-black-50" title="Proposer un échange ?" href="echange">Disponible</a>
																						<a class="nav-link fs-6 text-black-50" title="des questions sur ce jeu ?" href="contact">Contact</a>
																					</td>
																				</tr>
																				<tr>
																					<th scope="row">
																					<a class="nav-link fs-6 text-black-50" title="Proposer le votre ?" href="{{ path('app_newgame', {'id': '3'}) }}"><img src="{{asset('images-test/kt-4.jpg') }}" alt=""></a>
																					
																					
																					</th>
																					<td>Jumbo</td>
																					<td>Londis</td>
																					<td>Jeu en Metal</td>
																					<td><a class="nav-link fs-6 text-black-50" title="Voir le descriptif complet de ce jeu ?" href="detail">consectetur adipisicing elit neque nostrum quibusdam nam aspernatur...</a></td>
																					<td>Neuf</td>
																					<td>+ de 12 ans</td>
																					<td>Non disponible</td>
																				</tr>
																			</tbody>
																		</table>
															
															
																	</div>
																</div> #}{% endblock %}
