{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="fs-2 col-6 text-center m-3">
				Inscription...
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="fs-6 col-4 text-center m-3">


				{{ form_start(registrationForm) }}

				<div class="text-start">
					<label for="Email">Email</label>
					{{ form_row(registrationForm.email, {label: ' '}) }}
				</div>

				<div class="text-start">
					<label for="Mdp">Mot de Passe</label>
					{{ form_row(registrationForm.plainPassword, {label: ' '}) }}
				</div>

				<div class="text-start">
					<label for="Pseudo">Pseudo</label>
					{{ form_row(registrationForm.pseudo, {label: ' '}) }}
				</div>

				<div class="text-start">
					<label for="Statut">Statut</label>
					{{ form_row(registrationForm.type, {label: ' '}) }}
				</div>

				<div class="text-start">
					<label for="Nom">Nom</label>
					{{ form_row(registrationForm.typname, {label: ' '}) }}
				</div>

				<div class="text-start">
					<label for="cpost">Code Postal</label>
					{{ form_row(registrationForm.cpost, {label: ' '}) }}
				</div>

				<div class="text-start">
					<label for="Ville">Ville</label>
					{{ form_row(registrationForm.ville, {label: ' '}) }}
				</div>


				<div class="d-flex justify-content-start">
					<label for="News">Abonnement à notre Newsletter</label>
					{{ form_row(registrationForm.news, {label: ' '}) }}
				</div>

				<div class="d-flex justify-content-start">
					<label for="cgu">J'accepte les conditions d'utilisation</label>
					{{ form_row(registrationForm.agreeTerms, {label: ' '}) }}
				</div>
			</div>
			<button type="submit" class="btn">S'inscrire</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
