<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Logo BrainGames</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">

			<div class="navbar-nav">
				<a class="nav-link active" aria-current="page" href="{{path('app_home')}}">Accueil</a>
				<a class="nav-link" href="{{path('app_presentation')}}">Présentation</a>
				<a class="nav-link" href="{{path('app_adulte')}}">Adulte</a>
				<a class="nav-link" href="{{path('app_enfant')}}">Enfant</a>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Catégories
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="{{path('app_categorie')}}">Jeux 3D</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{path('app_categorie')}}">Jeux en bois</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{path('app_categorie')}}">Jeux en métal</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{path('app_categorie')}}">Coffrets</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{path('app_categorie')}}">Puzzles</a>
						</li>
					</ul>
				</li>

				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') %}
						<a class="nav-link" href="{{path('app_echange')}}">Echanges</a>
					{% else %}
						<a class="nav-link" href="{{path('app_echange')}}">Echanges</a>
					{% endif %}
				{% endif %}

				<a class="nav-link" href="{{path('app_discussion')}}">Discussions</a>

				{% if app.user %}
					<div class="d-inline-flex">

						<a class="nav-link fs-6 text-black-50" title="Votre Profil" href="{{path('app_profil')}}">{{app.user.email}}</a>

						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Administration
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<li>
										<a class="dropdown-item" href="{{path('app_messages')}}">Messages</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{path('app_users_index')}}">Utilisateurs</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{path('app_games_index')}}">Produits</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{path('app_categories_index')}}">Categories</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{path('app_shape_index')}}">Etats</a>
									</li>

									<li>
										<a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
									</li>
								</ul>
							</li>
						{% else %}
							<a class="nav-link mx-2" href="{{path('app_logout')}}">Déconnexion</a>
						{% endif %}
					</div>
				{% else %}
					<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
				{% endif %}

				<form method="post" action="{{ path('app_search')}}" class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Votre recherche" aria-label="Search">
					<button class="btn" type="submit"><img class="" src="{{asset('assets/img/search-logo.jpg') }}" alt="recherche"></button>
				</form>
			</div>
		</div>
	</div>
</nav>
