{% extends 'base.html.twig' %}

{% block title %}Validation d'un échange
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
		{% if swapsell.swapbuyer == false  %}
										<div class="fs-2 text-center m-3">Validation de la Proposition d'Echange de votre Jeu ?</div>
									{% else %}
										<div class="fs-2 text-center m-3">Validation de l'Echange de votre Jeu ?</div>
									{% endif %}
			
		</div>
		<div class="row justify-content-center">
			<div class="fs-4 text-center m-3">

				<table class="table table-hover fs-6">
					<thead>
						<tr>
							<th scope="col" class="fdtitre"></th>
							<th scope="col" class="fdtitre">Marque</th>
							<th scope="col" class="fdtitre">Modèle</th>
							<th scope="col" class="fdtitre">Catégorie</th>
							<th scope="col" class="fdtitre">Descriptif</th>
							<th scope="col" class="fdtitre">Etat</th>
							<th scope="col" class="fdtitre">Age</th>
							<th scope="col" class="fdtitre">Statut</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>
								{% if gamesell.img is defined and gamesell.img is not null %}

									<img src="{{ asset('images-test/' ~ gamesell.img ) }}" alt="" style="width:100px">
								{% else %}
									<img src="{{ asset('images-test/defaultImg.jpg') }}" alt="" style="width:100px">
								{% endif %}
							</td>

							<td>{{ gamesell.mark }}</td>
							<td>{{ gamesell.nom }}</td>
							<td>{{gamesell.idcat.nom}}</td>

							<td>{{ gamesell.txt|u.truncate(15) }}...</td>

							<td>{{ etatsell}}</td>
							<td>{{ gamesell.age }}</td>

							<td>
								<div>
									{% if swapsell.swapuser == false  %}
										Echange en Cours...
									{% else %}
										Echange validé !
									{% endif %}
								</div>
								<div>
									{{adrsel}}
								</div>

							</td>
						</tr>


					</tbody>
				</table>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="fs-2 text-center">Avec le Jeu ci-Dessous ?</div>
		</div>

		<div class="row justify-content-center">
			<div class="fs-4 col-12 text-center m-3">

				<table class="table table-hover fs-6">
					<thead>
						<tr>
							<th scope="col" class="fdtitre"></th>
							<th scope="col" class="fdtitre">Marque</th>
							<th scope="col" class="fdtitre">Modèle</th>
							<th scope="col" class="fdtitre">Catégorie</th>
							<th scope="col" class="fdtitre">Descriptif</th>
							<th scope="col" class="fdtitre">Etat</th>
							<th scope="col" class="fdtitre">Age</th>
							<th scope="col" class="fdtitre">Statut</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>
								{% if gamebuy.img is defined and gamebuy.img is not null %}

									<img src="{{ asset('images-test/' ~ gamebuy.img ) }}" alt="" style="width:100px">
								{% else %}
									<img src="{{ asset('images-test/defaultImg.jpg') }}" alt="" style="width:100px">
								{% endif %}
							</td>

							<td>{{ gamebuy.mark }}</td>
							<td>{{ gamebuy.nom }}</td>
							<td>{{gamebuy.idcat.nom}}</td>

							<td>{{ gamebuy.txt|u.truncate(15) }}...</td>

							<td>{{ etatbuy}}</td>
							<td>{{ gamebuy.age }}</td>

							<td>
								<div>								
									{% if swapsell.swapbuyer == false  %}
										Echange en Cours...
									{% else %}
										Echange validé !
									{% endif %}
								</div>
								<div>
									{{adrbuy}}
								</div>
							</td>
						</tr>

						<tr>
							<td></td>
							<td colspan="6" class="fs-4 text-center">Votre Message</td>
							<td></td>
						</tr>

						<form action="{{ path('app_newdealcheck') }}" method="POST">
							<tr>
								<td></td>
								<td colspan="6" class="fs-4 text-center">
									<textarea name="txt" class="form-control m-3" id="message" rows="3">Bonjour,</textarea>
									<input type="hidden" name="seller" value="{{swapsell.id}}">
									<input type="hidden" name="buyer" value="{{swapbuy.id}}">
									{% if swapsell.swapbuyer == false  %}
										<input class="fs-6" type="submit" name="check" value="Accepter" title="Accepter cette Proposition ?">
										<input class="fs-6" type="submit" name="check" value="Refuser" title=" Refuser cette Proposition ?">
									{% else %}
										<input class="fs-6" type="submit" name="check" value="Valider" title="Valider l'échange ?">
										<input class="fs-6" type="submit" name="check" value="Refuser" title=" Refuser l'échange ?">
									{% endif %}
									
									
								</td>
								<td></td>
							</tr>
						</form>
					</tbody>
				</table>
			</div>

		</div>
	</div>
{% endblock %}
