{{ form_start(form) }}

	{{ form_widget(form) }}

	{% if form.img.vars.data is defined and form.img.vars.data is not null %}
		<label for="">Image Actuelle</label>
		<div><img src="{{ asset('images-test/' ~ game.img ) }}" alt="" style="width:100px"></div>
		<div class="fs-6">
			{{form.img.vars.data}}
		</div>
	{% else %}
		<label for="">Image Actuelle par Défaut</label>
		<div><img src="{{ asset('images-test/defaultImg.jpg') }}" alt="" style="width:100px"></div>
		<div class="fs-6">
			{{form.img.vars.data}}
		</div>

	{% endif %}


	<div class="text-center">
		<button class="btn text-center">
			{{ button_label|default('Enregistrer') }}
		</button>
	</div>
{{ form_end(form) }}
